<h2><%= t('.title') %></h2>

<table>
  <%= render cart.line_items %>
  <tr class="total_line">
    <td colspan="3">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price)%></td>
  </tr>
</table>

<%= button_to t('.checkout'), new_order_path, method: :get, disabled: !@order.nil? %>
<%= button_to t('.empty'), cart, method: :delete, remote: true, data: {confirm: 'Really delete this cart?'}%>
